@mixin font($weight: 400, $size: 18px, $lineHeight: 27px)
  font-weight: $weight
  font-size: $size
  line-height: $lineHeight

@mixin borderRadius($first: 20px, $second: 0)
  border-radius: $first $second
