.body
  background-position: top
  background-repeat: no-repeat
  background-size: 100vw 100vh
  background-color: $bgColor
  background-image: linear-gradient(transparent,$bgColor), url(../images/headerBackground.jpg)
